@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

.popup {
    position: absolute;
    top: 0;
    left: 28%;
    transform: translate(-5%, -35%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}


.open-popup {
    position: absolute;
    top: 25%;
    transform: translate(-1%) scale(1);
}

.popup2 {

    background: blue;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 38%;
    transform: translate(-5%, -35%) scale(0.1);
    text-align: left;
    visibility: hidden;
    padding: 0 30px 30px;
    color: white;

    transition: transform 0.4s, top 0.4s;
}

.open-popup2 {
    visibility: visible;
    top: 50%;
    transform: translate(-5%, -35%) scale(1);

}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 32%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0b1cd5;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.my-foto {

    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

body {
    font-family: "Lucida Handwriting", Cursive;
}