/* src/App.css */
.App {
  text-align: center;
}

/* Add this to position the navbar at the top */
.AppNavbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.my-foto {
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.container-foto {
  background-color: #f45d48;
}
