/* Stil umum untuk div */
#quote-box {
    /* Gaya yang sama di sini */
    
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Media query untuk perangkat mobile dengan lebar <= 600px */
  @media (max-width: 600px) {
    #quote-box {
      width: 90%;
      margin: 0 auto; /* Untuk tengah pada perangkat mobile */
    }
  }
  
  /* Media query untuk desktop dengan lebar > 600px */
  @media (min-width: 601px) {
    #quote-box {
      width: 50%;
      margin: 0 auto; /* Untuk tengah pada desktop */
    }
  }
  